﻿body {
    font-weight: 400;
    font-size: 14px;
    padding:12px;
}
#myBtn {
    color: #fff;
    background: #0b87e1;
    border-radius: 8px;
    padding: 15px;
    margin-right: 10px;
    float: right;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mainblock {
    border-top: 1px solid #d1e4ed;
    margin: 8px;
}
